.floating-box {
    float: left;
    width: 250px;
    height: 80px;
    margin: 10px;
	
    /*border: 3px solid #73AD21;*/
	color:white;
    background-color:#00303f;
    padding-top:20px;
    padding-left:10px;
    box-shadow:5px 5px 5px 5px rgba(0,0,0,0.2);
}

.floating-box:hover {
    box-shadow:10px 10px 10px 10px rgba(0,0,0,0.2);
}


.after-box {
    clear: left;
	background-color:#00303f;
    width: 100%;
	height: 500px;
    padding-left:10px;
    padding-right:10px;
    border-radius:10px;
    overflow: auto;
}

.square {
  position: relative;
  width: 50%;
  background-color:black;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}
